@import "tailwindcss";

@import "tailwindcss";

@theme {
  /* メインのオレンジ色 */
  --color-main: var(--color-orange-500);
  /* ホバー時やアクセント用の濃いオレンジ */
  --color-main-dark: var(--color-orange-600);
  /* 背景用の薄いオレンジ */
  --color-main-light: var(--color-orange-50);
  
  /* カードなどの角丸の共通設定（お好みで） */
  --radius-card: 1.5rem;
}